* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.root {
    display: flex;
    height: 100vh;
    background-color: #ff8800;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    color: #000000;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.container {
    background-color:#ff793b;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 5px;
}

input {

    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
    background-color:#ffa34e;
    color: #000000;
    font-weight: bold;
    cursor: pointer;
}

.result {
    width: 100%;
    margin-top: 20px;
    text-align: center;
}